:root {
  --dark-grey: #0e0e0e;
  --lblue: #ededf6;
  --dblue: #0e0e0e;
}

/* set text selection highlight color and background */
::selection {
  background-color: var(--lblue);
  color: var(--dark-grey);
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--dblue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-grey);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

header {
  margin-bottom: 0.625rem;
  background-color: var(--dark-grey);
  display: flex;
  flex-direction: column;
  position: relative;
}

header h1 {
  color: var(--dark-grey);
  background-color: var(--lblue);
  position: absolute;
}

nav {
  display: flex;
}

main {
  max-width: 100%;
}

.tiles {
  display: flex;
  flex-direction: column;
}

.tile {
  flex: 0 0 100%;
  display: flex;
  position: relative;
}

.tile-title {
  flex: 0 0 20%;
  background-color: var(--dblue);
  text-align: center;
}

.tile-title h3 {
  color: var(--lblue);
}

.tile-caption {
  position: absolute;
  margin: -3rem 0 3rem 1rem;
}

#marquee {
}

#library img {
  max-width: 100%;
}

/* media query for mid-size screens */
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }

  .tiles {
    flex-direction: row;
  }

  .tile {
  }

  .tile-title {
    background-color: white;
    text-align: right;
  }

  .tile-title h3 {
    color: var(--dblue);
  }

  #library .tile {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header,
  main {
    max-width: 992px;
  }
}
