:root {
  --dark-grey: #0e0e0e;
  --lblue: #ededf6;
  --dblue: #0e0e0e;
}

/* set text selection highlight color and background */
::selection {
  background-color: var(--lblue);
  color: var(--dark-grey);
}

html {
  /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
  font-size: 62.5%;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--dblue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-grey);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  /* 6rem = 60px (6 * 10px) */
  font-size: 6rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
  padding: 1rem;
}

header {
  padding: 20px 5% 20px 0;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

header h1 {
  color: var(--dark-grey);
  margin: 0;
  padding: 1rem 1rem 1rem 3rem;
  text-align: center;
}

nav {
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
}

main {
  width: 80%;
}

#splash {
  background-image: url("../photos/remy.JPG");
  background-size: cover;
  background-position: center;
  min-height: 35vh;
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

#splash div {
  flex: 0 0 90%;
}

#splash h2 {
  width: 50vw;
  align-content: flex-start;
  position: absolute;
}

.grid-container {
  display: grid;
  gap: 2%;
  grid-template-columns: 15vw 60vw;
}

.tile {
  flex: 0 0 100%;
  height: 200px;
}

.grid-item-title h3 {
  text-align: right;
}

.tile-title h3 {
  color: var(--lblue);
}

.tile-caption {
  background-color: lightcyan;
}

#projects {
  display: grid;
  gap: 2%;
  grid-template-columns: 48% 48%;
}

#run_buddy {
  background-image: url("../photos/run_buddy.jpg");
  background-size: cover;
  background-position: center;
}

#puzzles {
  background-image: url("../photos/puzzles.png");
  background-size: cover;
  background-position: center;
}

#calculator {
  background-image: url("../photos/calculator.jpg");
  background-size: cover;
  background-position: center;
}

#library {
  background-image: url("../photos/library.png");
  background-size: cover;
  background-position: center;
}

footer {
  display: flex;
  flex-direction: row;
}

#contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* media query for mid-size screens */
@media screen and (min-width: 768px) {
  header {
    flex-direction: row;
  }

  .tiles {
    display: flex;
    flex-direction: row;
  }

  .tile {
  }

  .tile-title {
    background-color: white;
    text-align: right;
  }

  .tile-title h3 {
    color: var(--dblue);
  }

  #library .tile {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header,
  main {
    max-width: 992px;
  }
}
